[user]
  name = Leonardo Comelli
  email = leonardo.comelli@gmail.com
  signingkey = 22B782F008E40BAD2EEBAFD39B11E93BF1096C3E

[credential]
  helper = osxkeychain

[core]
  excludesfile = ~/.gitignore
  whitespace = trailing-space,space-before-tab
  autocrlf = input
  pager = less -+$LESS -RS
  editor = nvim

[apply]
  whitespace = fix

[commit]
  gpgsign = true

[merge]
  ff = false

[rebase]
  autosquash = true

[pull]
  rebase = true

[push]
  default = simple

[github]
  user = leocomelli

[gpg]
  program = gpg

[help]
  autocorrect = 1

[url "git@github.com:"]
  insteadOf = https://github.com/

[color]
  ui = true
  interactive = true
  status = true
  branch = true
  diff = true

[alias]
  aliases = config --get-regexp alias
  st = status
  co = checkout
  ci = commit
  cs = commit -S
  br = branch
  df = diff
  rso = remote show origin
  s = switch

